* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
}

h1, h2 {
  font-family: 'DM Serif Display', serif;
}

/* navbar-section */

nav {
  padding: 1rem 0;
  width: 80%;
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  align-items: center;
}

.nav-images {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  align-items: center;
}

.nav-elements {
  display: grid;
  grid-gap: 30px;
  grid-auto-flow: column;
  align-items: center;
}

.hamburger {
  display: none;
}

.close {
  display: none;
}

/* styling the paragraph tags in nav-section */

.nav-text {
  text-transform: uppercase;
  font-weight: 700;
}

.nav-text-dark {
  color: hsl(273, 4%, 51%);
}

/* hover effect over the paragraph tags */

.nav-text-dark:hover {
  color: black;
  cursor: pointer;
}

/* top-section */

.top-section-bg {
  color: white;
  background-color: hsl(256, 26%, 20%);
  padding: 100px 0;

  position: relative;
}

.right-bg {
  position: absolute;
  top: -90px;
  right: 0;
  clip-path: polygon(0 15%, 100% 15%, 100% 100%,0 100%);
}

.right-bg-mobile {
  display: none;
}

.left-bg {
  position: absolute;
  bottom: -325px;
  left: 0;
}

.top-section {
  width: 80%;
  margin: auto;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

/* styling the left column - with all the text - inside top-section  */

.left-col-top {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 40px;
}

.left-col-top hr {
  border: none;
  border-bottom: 1px solid white;
  width: 200px;
}

.left-col-top h1 {
  font-size: 5rem;
  width: 600px;
  line-height: 1;
}

.left-col-top p {
  width: 550px;
}

/* styling the buttons */

.btn {
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  font-weight: bold;

  background-color: transparent;
  border: 2px solid;
  padding: 10px 0;
  width: 140px;
}

.btn-white {
  color: white;
  border-color: white;
}

/* hover effect on buttons */

.btn-white:hover {
  color: hsl(256, 26%, 20%);
  background-color: white;
}

.btn-dark:hover {
  color: white;
  background-color: black;
}

/* styling the right column - the one with image - inside top-section */

.right-col-top {
  position: relative;
}

.intro-img {
  position: absolute;
  /* right: 0; */
  width: 100%;
  height: 650px;
}

/* features-section */

.features {
  margin: 300px auto 0;
  width: 80%;
  display: grid;
  grid-gap: 30px;
  grid-template-rows: auto auto auto;

  /* to avoid jumpiness when the margin-top is altered */
  transition: all .2s;
}

.features hr {
  border: none;
  border-bottom: 1px solid grey;
  width: 200px;
}

.features-top h1 {
  font-size: 4rem;
}

.features-bottom {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.feature {
  display: grid;
  grid-gap: 10px;
}

/* how-we-work section */

.how-we-work {
  width: 80%;
  margin: 150px auto;

  color: white;
  background-color: hsl(256, 26%, 20%);
  background-image: url('./images/bg-pattern-how-we-work-desktop.svg');
  background-repeat: no-repeat;
  background-position: right;
  padding: 50px 80px;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
}

.how-we-work h1 {
  font-size: 3rem;
  line-height: 1;
}

/* footer-section */

.footer {
  background-color: hsl(0, 0%, 98%);
  background-image: url('./images/bg-pattern-footer-desktop.svg');
  background-repeat: no-repeat;
  background-position: left top;
  padding: 55px 0;
}

.footer-wrap {
  width: 80%;
  margin: auto;
  display: grid;
  grid-gap: 35px;
  grid-template-rows: auto auto auto;
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
}

.icon-tray img {
  margin: 0 5px;
}

.custom-icon {
  opacity: .6;
}

.custom-icon:hover {
  opacity: 1;
  cursor: pointer;
}

.footer-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: left;
}

/* styling the paragraph tags in footer-section */

.footer-col .head-footer {
  margin-bottom: 30px;
  color: hsl(273, 4%, 51%);
}

.footer-col p {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

/* adding hover effects on paragraph tags in footer-section  */

.footer-col .head-footer:hover {
  text-decoration: none;
  cursor: default;
}

.footer-col p:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 1350px) {

  /* top-section */

  .left-col-top h1 {
    width: 100%;
  }

  .left-col-top p {
    width: 100%;
  }

  /* features-section */

  .features {
    margin: 200px auto 0;
  }
}

@media (max-width: 1024px) {

  /* top-section */

  .top-section-bg {
    padding: 0 0 50px;
  }

  .right-bg {
    display: none;
  }

  .right-bg-mobile {
    display: block;
    position: absolute;
    right: 0;
    bottom: -170px;
  }

  .left-bg {
    display: none;
  }

  .top-section {
    width: 100%;
    grid-gap: 0;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }

  .left-col-top {
    text-align: center;
    padding: 60px;
    background-image: url('./images/bg-pattern-intro-left-mobile.svg');
    background-repeat: no-repeat;
    background-position: left top;
  }

  .left-col-top hr {
    visibility: hidden;
  }

  .btn {
    margin: auto;
  }

  .right-col-top {
    order: -1;
  }

  .intro-img {
    position: relative;
    height: 950px;
    width: 100%;
  }

}

@media (max-width: 990px) {

  /* navbar section */

  nav {
    width: 90%;
  }

  /* getting the features-section responsive */

  .features {
    width: 90%;
  }

  .features hr {
    margin: auto;
  }

  .features-top h1 {
    text-align: center;
  }

  .features-bottom {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
  }

  .feature {
    text-align: center;
    justify-items: center;
  }

  .feature p {
    width: 400px;
    margin: auto;
  }

  /* how-we-work section */

  .how-we-work {
    width: 90%;
    text-align: center;
    padding: 50px;

    background-image: url('./images/bg-pattern-how-we-work-mobile.svg');

    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
  }

  .how-we-work button {
    margin: 20px auto 0;
  }
}

@media (max-width: 726px) {

  /* getting the hamburger menu in place */

  .hamburger {
    display: block;
  }

  nav {
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    padding-bottom: 0;
  }

  .nav-images {
    width: 90%;
    margin: auto;
    padding-bottom: 1rem;
  }

  .nav-elements {
    display: none;

    background-color: hsl(270, 9%, 17%);
    background-image: url('./images/bg-pattern-mobile-nav.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% auto;

    height: calc(100vh - 3.9rem);
    padding-top: 50px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: start;
    text-align: center;
  }

  .hamburger.show {
    display: none;
  }

  .close.show {
    display: block;
  }

  .nav-elements.show {
    display: grid;
  }

  /* styling the content for hamburger menu */

  .nav-elements.show p {
    color: white;
  }

  .nav-elements.show button {
    color: white;
    border-color: white;
  }

  .nav-elements.show button:hover {
    color: hsl(270, 9%, 17%);
    background-color: white;
  }

  .wrapper.show {
    display: none;
  }

  /* footer-section */

  .footer {
    background-image: url('./images/bg-pattern-footer-mobile.svg');
    background-size: contain;
  }

  .footer-wrap {
    width: 90%;
  }

  .footer-top {
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-gap: 20px;
    justify-items: center;
  }

  .footer-bottom {
    text-align: center;
    grid-gap: 30px;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
  }
}

@media (max-width: 600px) {

  /* top section */

  .left-col-top {
    padding: 60px 20px;
  }

  .left-col-top h1 {
    font-size: 3.5rem;
  }

  .intro-img {
    height: 650px;
  }

  /* features section */

  .features-top h1 {
    font-size: 3.5rem;
  }

  /* how we work section */

  .how-we-work {
    padding: 40px 30px;
  }

  .how-we-work h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {

  .intro-img {
    height: 450px;
  }

  /* feature section */

  .feature p {
    width: 100%;
  }
}

@media (max-width: 390px) {

  /* changing the font size for the headings */

  .left-col-top h1 {
    font-size: 3rem;
  }

  .features-top h1 {
    font-size: 3rem;
  }

  .how-we-work h1 {
    font-size: 2rem;
  }
}
